.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.03);
        transform: translateY(-1.5rem) scale(1.03);
    }
}
@media only screen and (max-width: 56.25em) {
    .feature-box {
        padding: 2rem;
        &__icon {
            margin-bottom: 0;
        }
    }
}
